<html>
  <head>
    <title>Server Error</title>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/style.css">
  </head>
  <body>
    <h1>An Error Has Occurred</h1>
    <p class="totals"><%= @message %></p>
  </body>
</html>
